@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>Contributors.</h3>

<address>
    Visionary Way<br />
    Indianapolis, IN 46038<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Configuration Master (CM):</strong>   <a href="https://www.linkedin.com/in/michael-vermillion-0121a412a/">Tyler Vermillion</a><br />
    <strong>Project Manager (PM):</strong> <a href="https://www.linkedin.com/in/matthew-milstead/">Matthew Milstead</a>
    (317)-753-9544
</address>